/* General Styles */
body {
  font-family: 'Heebo-Medium', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0056FD;
  color: #ffffff;
}

/* Navigation Bar */
nav {
  background-color: #0056FD;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
  transition: background-color 0.3s ease-in-out;
  padding: 10px 30px;
  border:#000000;
  border-width: 10px;
}

nav.scrolled {
  background-color: #E37630;
}

nav a {
  color: white;
  font-size: large;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  color: black;
}

.navbar-logo {
  height: 80px;
  width: 100px;
  margin-right: 10px;
  vertical-align: middle;
}

/* Hero Section */
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("public/home_BG.jpeg") no-repeat center center/cover;
  color: white;
}

#home h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

#home p {
  font-size: 25px;
  margin-bottom: 40px;
}

#home .cta-button {
  background-color: #44F610;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
}

#home .cta-button:hover {
  background-color: #E37630;
}

/* About Section */
#about .container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  padding: 50px;
  background-color: #44F610;
}

.profile-picture {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid #FC0A56;
}

.about-text {
  flex: 2;
  color: #000000;
}

/* Portfolio Section */
.artwork-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.artwork img {
  width: 50%;
  border-radius: 10px;
  border: 5px solid #000000;
  transition: transform 0.3s ease;
}

.artwork img:hover {
  transform: scale(1.05);
}

.website-link {
  display: inline-block;
  margin-top: 10px;
  color: #0056FD;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #E37630;
}

.website-link:hover {
  color: #FC0A56;
  background-color: #44F610;
  text-decoration: underline;
}


/* Contact Section */
#contact .container {
  display: flex;
  gap: 40px;
  padding: 50px;
}

.contact-form {
  flex: 2;
  background-color: #E37630;
  padding: 30px;
  border-radius: 10px;
  color: white;
}

.contact-form label {
  font-weight: bold;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 18px;
  border: 1px solid #0056FD;
}

.contact-form input[type="submit"] {
  background-color: #44F610;
}

.contact-form input[type="submit"]:hover {
  background-color: #FC0A56;
}

.contact-details {
  flex: 1;
  color: #ffffff;
}

/* Footer */
footer {
  text-align: center;
  background-color: #44F610;
  padding: 10px;
  color: #E37630;
  font-weight: bold;
}